<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kubernetes-logo" src="{{ "/assets/img/kubernetes-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Kubego </h3>
    <ul>
      <li> Ansible </li>
      <li> Kubernetes </li>
      <li> Kubeadm </li>
      <li> Traefik </li>
      <li> Ceph </li>
    </ul>
    <p>Deploy HA Kubernetes clusters from scratch, mainly for bare-metal or on-premise servers. Currently in work in progress state.</p>
    <a class="project-link" target="_blank" href="https://github.com/kisev/kubego">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="docker-swarm-logo" src="{{ "/assets/img/docker-swarm-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Swargo </h3>
    <ul>
      <li> Ansible </li>
      <li> Docker Swarm </li>
      <li> Traefik </li>
      <li> Ceph </li>
    </ul>
    <p>Deploy HA Docker Swarm clusters from scratch, mainly for bare-metal or on-premise servers. Currently in work in progress state.</p>
    <a class="project-link" target="_blank" href="https://github.com/kisev/swargo">Check it out</a>
  </div>
</div>
